@media (min-width: 481px) and (max-width: 767px)
.size{
width:487px;
height:125px;

}

#iiclogo
{

    height: 120px;
    width: 130px;
    position: absolute;
    left: 20px;
    top: 70px;
}

#dulogo
{
 
    height: 172px;
    width: 228px;
    position: absolute;
    right: -51px;
    top: 70px;
}
#eventlogo {
    height: 130px;
    width: 348px;
   


}
@media (max-width: 480px)
.size{

width:325px;
height:85px;

}

#iiclogo
{

    height: 80px;
    width: 93px;
    position: absolute;
    left: 3px;
    top: 70px;
}

#dulogo
{
 
    height: 116px;
    width: 166px;
    position: absolute;
    right: -36px;
    top: 70px;
}
#eventlogo {
    height: 94px;
    width: 241px;
   


}
