@media (max-width: 320px)
.size{
width:172px;
height:43pxpx;
}


#iiclogo
{

    height: 55px;
    width: 70px;
    position: absolute;
    left: 3px;
    top: 70px;
}

#dulogo
{
 
    height: 100px;
    width: 150px;
    position: absolute;
    right: -36px;
    top: 70px;
}
#eventlogo {
    height: 80px;
    width: 200px;
   


}

